html, .Body {
  background-color: #F6F6F6;
}

.Main {
  padding: 100px;
}

.navbar {
  background-color: #FFFFFF;
  padding: 0;
}

.Box {
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 0 8%;
  text-align: center;
}

.title {
  font-size: 33px;
  font-weight: bold;
  color: #4C4C4C;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  margin: 15px 0;
}

.btn {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  background-color: #F80000;
  border-color: #F80000;
  margin-bottom: 10px;
}

.Footer {
  padding:10px;
}

.footer {
  background-color: #979797;
  color: #F6F6F6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  padding: 6px 0;
}
