html, .Body {
  background-color: #F6F6F6;
}

.downloadLibraryPage {
  padding: 100px;
}

.navbar {
  background-color: #FFFFFF;
  padding: 0;
}

.Box {
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 0 8%;
  text-align: center;
}

.fa-tools, .fa-cloud-download-alt {
  margin: 40px 0 0 0;
}

.fa-check-circle {
  color: #519B00
}

.title {
  margin: 30px 0 0 0;
  font-size: 33px;
  font-weight: bold;
  color: #4C4C4C;
}

.text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  margin: 25px 0 0 0;
}

.redBtn {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  background-color: #F80000;
  border-color: #F80000;
  margin: 25px 0 0 0;
}

.date {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #A0A0A0;
  margin: 25px 0 40px 0;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: grey;
  opacity: 0.8;
}

.modalBox {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0 0 100px 0;
  width: 90%;
  max-width: 1200px;
  border-radius: 25px;
}

/* The Close Button */
.close {
  color: #030303;
  padding-right: 15px;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Unique Build */
#uniqueTitle {
  font-size: 35px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  color: #4C4C4C;
}

#uniqueText {
  font-size: 21px;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

#mods {
  width: 200px;
  height: 500px;
  border: solid 1px black;
  float: left;
  overflow: scroll;
}

#modsUsed {
  width: 200px;
  height: 500px;
  border: solid 1px black;
  float: left;
  margin-left: 20px;
  overflow: scroll;
}

/* Footer */
.Footer {
  padding:10px;
}

.footer {
  background-color: #979797;
  color: #F6F6F6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  padding: 6px 0;
}
